.topnavbar{
    background-color: maroon;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.topnavbar a{
    float: left;
    color: aliceblue;
    text-align: center;
    padding: 1em;
}
.topnavbar a:hover{
    background-color: aliceblue;
    color: maroon;
}