.experience.div {
    text-align: center;
    margin: auto;
    padding: 3em;
    background-color: rgb(29, 26, 23);
    color: aliceblue;
}

.experience.title{
    padding-bottom: 1em;
}

.experience.card{
    margin: auto;
    width: 40em;
    text-align: left;
}
.experience.card:hover{
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.experience.card-date{
    padding-bottom: 1em;
}