.parent {
    text-align: center;
    margin-top: 5rem;
}

.child {
    margin: 1rem;
}

.profile.image {
    width: 20rem;
}

.profile.name {
    padding-top: 2rem;
}

.profile.details {
    width: 50rem;
    margin: auto;
}