.profile.parent{
    text-align: center;
    width: 60rem;
    margin: auto;
    margin-top: 8%;
    padding: 2em;
    display: flex;
    background-color: rgb(255, 237, 214);
    border-radius: 2em;
    box-shadow: 1em 2em rgba(61, 60, 60, 0.482);
}

.profile.child {
    display: inline-block;
    margin: 1rem;
    flex: 1;
}

.profile.image {
    width: 20rem;
}

.profile.name {
    text-align: left;
    font-size: 2.5em;
    padding-top: 20%;
}

.profile.description {
    font-size: 1.5em;
    text-align: left;
}